html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 73.5%;
}

#content {
    -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dropbtn {
    background-color: #7A55EF;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    border-top:1px solid #bbb;
}
  
.dropdown-content {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #7A55EF;
    border-top:1px solid #bbb;
    z-index: 1;
}

.dropdown-content li {
    display: block;
    border-bottom:1px solid #bbb;
    padding:0;
    margin:0;
}

.dropdown-content p {
    color: white;
    padding: 10px 16px;
    margin: 0;
    text-decoration: none;
    background-color: #7A55EF;
    border: 0px;
    display: block;
}
  
.dropdown-content p:hover {
    background-color: #6500B8;
    cursor: pointer;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #6500B8;
}