.footer {
    color: white;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 110px 50px;
    table-layout: fixed;
    width: 100%;
    z-index: 4;
}


.footer a {
    color: white;
    font-size: initial;
}

.footer .a:hover {
    color: white;
    font-weight: 600;
}

.grid-item{
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 2vh;
    width: 100%;
}

.grid-item p {
    margin-bottom: 0px;
}