form {
    padding: 40px 0 100px 0;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
}

input {
    margin: 5px;
}

input[type=text], input[type=password], select {
  width: 80%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}