.games-preview {
    width: 500px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

.game-preview {
    background-color: rgba(red, green, blue, 0);
}


.polaroid {
    border: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #FF2EA6, #55A4F9);
    /* margin-top: 5%; */
    margin-bottom: 5%;
    width: 500px;
    height: 70vh;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position-x: center;
    background-position-y: 2.05vw;
    display: inline-block;
    position: relative;
}

#video {
    min-width: 100%; 
    min-height: 100%;
}

.game-title {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}