.header {
    height: 600px;
    width: 100%;
    text-align: center;
    position: relative;
    background-image: linear-gradient(-45deg, #FF2EA6, #55A4F9);
    background-size: 400% 400%;
    animation: anime_bg 15s ease infinite;
}

@keyframes anime_bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 75px;
    border: 8px solid white;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgba(0, 0, 0, 0.8);
}

.header-text p{
    padding-top: 2%;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
	background: linear-gradient(to right, #FF9100 0%, #FFC14F 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5vh;
    font-weight: 600;
}

.navbar {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    z-index:100;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
    display: inline-flex;
}
  
.navbar .begin-tab li{
    float: left;
    border-right:1px solid #bbb;
}

.navbar .end-tab li{
    float: right;
    border-left:1px solid #bbb;
}

.navbar li a {
    font-size: 1.5vh;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}
  
.navbar li a:hover:not(.active) {
    cursor: pointer;
    font-size: 1.6vh;
    font-weight: 600;
    background-image: linear-gradient(-45deg, #FF2EA6, #55A4F9);
    background-size: 400% 400%;
    animation: anime_bg 5s ease infinite;
}

@keyframes anime_hover {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.navbar .active {
    color: white;
    font-weight: 600;
    font-size: 1.6vh;
    background-color: #FF2EA6;
}