html,
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

#main-wrapper {
    text-align: center;
}

#content {
    background-image: linear-gradient(to top, white, white);
    justify-content: center;
    z-index: 3;
}
